body {
    border: 20px solid #bdc3c7;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-family: "Source Sans Pro";
    font-weight: 800;
   }

.date {
    color: #3498db;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0.2rem;
    margin-top: 20px;
}

h2 {
    color: #2c3e50;
    font-size: 2.0rem;
    font-weight: 5000;
}
p {
    border-left: 3px solid #bdc3c7;
    padding-left: 10px;
    
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post {
    margin-bottom: 20px;   
}