.big {
    font-size: 100px;
    color: orange;
    border: 5px solid red;
}

.done {
    text-decoration: line-through;
}

.first {
    align-content: flex-end;
    width: 100px;
}

.second {
    align-content: flex-start;
}