<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F3 Austin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body class="pushable">
    
        <div class="ui fixed menu" id="top-bar">
            <div class="ui container">
                <div class="item">
                    <a href="/">
                        <img class="ui small image" src="https://files.f3nation.site/uploads/sites/28/2018/06/cropped-f3_horizontal_logo_banner-01.png">
                    </a>
                </div>
                <a href="/" class="item">Home</a>
                <a href="/backblasts/new" class="item">New Post</a>
                <a href="/backblasts">
                    <div class="header item"><i class="bullhorn icon"></i>Backblasts</div>
                </a>
            </div>
                
        </div>