<%- include("partials/header") %>

<div class="pusher">
    <div class="ui landing-image fluid container">
        <h1 class="ui inverted header">
            F3 Austin</h1>
        <h2 id="tagline">Leave No Man Behind</h2>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <h1></h1>
    </div>

</div>


<%- include("partials/footer") %>