<%- include("partials/header") %>

<div class="pusher">
    <div class="ui landing-image fluid container">
        <h1 class="ui inverted header">
            F3 Austin</h1>
        <h2 id="tagline">Leave No Man Behind</h2>
    </div>
          
</div>
    <div class="ui two column doubling stackable grid container">
        <div class="column">
            <img class="ui medium image centered"src="https://f3natx.com/wp-content/uploads/2019/09/F3-Logo-800x800.png" alt="">
        </div>
        <div class="column" id="f3">
            <h1>Fitness, Fellowship and Faith</h1>
        
        
            <p>F3 is a national network of free, peer-led workouts for men of all ages and fitness levels. Our mission is to plant, grow and serve small workout groups for men for the invigoration of male community leadership.</p>
        </div>
    </div>
        
    




<%- include("partials/footer") %>